
@import "_crosshair.scss";
@import "_damageindicator.scss";
@import "_hitindicator.scss";
@import "_inventory.scss";
@import "_killfeed.scss";
@import "_pickupfeed.scss";
@import "_scoreboard.scss";
@import "_actionmenu.scss";

rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;
	transform-origin: 50% 50%;

	&.spawnmenuopen
	{
		transition: background-color 0.3s ease-out;
		background-color: rgba( #333, 0.9 );
	}

	&.devcamera
	{
		display: none;
	}
}

vitals
{
	position: absolute;
	bottom: 64px;
	left: 100px;
	font-size: 64px;
	color: #ff0;
	mix-blend-mode: lighten;
	font-family: Roboto;

	label
	{
		text-shadow: 0px 0px 20px #f70a;

		&.danger
		{
			color: #f00;
			text-shadow: 0px 0px 10px #f005;
		}

		&.team
		{
			left : 80px;
			color: rgb(156, 255, 64);
			font-size: 60px;
		}
		
		&.teamzombie
		{
			left : 80px;
			color: rgb(255, 64, 64);
			font-size: 60px;
		}
	}
}

timerui
{
	position: absolute;
	color: #ff0;
	mix-blend-mode: lighten;
	font-family: Roboto;

	Label
	{

		text-shadow: 0px 0px 20px #f70a;
		
		&.timer
		{
			top: 20px;
			left: 900px;
			color: rgb(156, 255, 64);
			font-size: 30px;
		}
	}
}

whowinui
{
	position: absolute;
	color: #ff0;
	mix-blend-mode: lighten;
	font-family: Roboto;

	Label
	{

		text-shadow: 0px 0px 20px #f70a;

		&.winwho
		{
			top: 500px;
			left: 730px;
			color: rgb(156, 255, 64);
			font-size: 100px;
		}

		&.winwhoz
		{
			top: 500px;
			left: 730px;
			color: rgb(156, 255, 64);
			font-size: 100px;
		}
	}
}



ammo
{
	position: absolute;
	bottom: 64px;
	right: 100px;
	font-size: 64px;
	color: #ff0;
	mix-blend-mode: lighten;
	font-family: Roboto;

	label
	{
		text-shadow: 0px 0px 20px #f70a;

		&.danger
		{
			color: #f00;
		}
	}
}


.zp_usp .icon
{
	background-image: url( /ui/weapons/zp_usp.png );
}

.zp_ppk .icon
{
	background-image: url( /ui/weapons/zp_ppk.png );
}

.zp_revolver .icon
{
	background-image: url( /ui/weapons/zp_revolver.png );
}

.zp_glock17 .icon
{
	background-image: url( /ui/weapons/zp_glock17.png );
}

.zp_glock18 .icon
{
	background-image: url( /ui/weapons/zp_glock18.png );
}

.dm_pistol .icon
{
	background-image: url( /ui/weapons/dm_pistol.png );
}

.dm_shotgun .icon
{
	background-image: url( /ui/weapons/dm_shotgun.png );
}

.zp_winchester .icon
{
	background-image: url( /ui/weapons/zp_winchester.png );
}

.zp_supershorty .icon
{
	background-image: url( /ui/weapons/zp_supershorty.png );
}

.zp_remingston .icon
{
	background-image: url( /ui/weapons/zp_remingston.png );
}

.dm_smg .icon
{
	background-image: url( /ui/weapons/dm_smg.png );
}

.dm_crossbow .icon, .crossbow_bolt .icon
{
	background-image: url( /ui/weapons/dm_crossbow.png );
}