/*
	Zombie Panic! Source 2
	Created by Furrany Studio (Maxime66410)
	
	This project is Open Source, originale link : https://github.com/Maxime66410/Zombie-Panic-S-Box-Game
	
	Description :

	At the start of each round, players can either choose to join the human team or volunteer to be the first zombie. 
	If no one volunteers the game will pick one zombie randomly, and the game begins. The starter zombie's goal is to 
	kill the humans while the human goal is to stay alive as long as possible, complete objectives, or even wipe out 
	all the zombies. The catch is that when a human dies he will simply join the ranks of the undead, now ready to 
	finish off his old living teammates. The humans cannot tell by the player list who is alive and who is undead.
	
	Licenses :
		- Open Source : https://en.wikipedia.org/wiki/Open_source
		- CC BY : Attribution: depending on the NC, ND, and SA choices, others may share, edit, and use the model, but they must give you credit for the original work.
			-> https://creativecommons.org/licenses/by/4.0/
		- CC BY-NC : Non Commercial: others cannot use your model commercially
			-> https://creativecommons.org/licenses/by-nc/4.0/
		- CC BY-SA : ShareAlike: depending on the NC choices, others may share, edit, and use the model, but derivative work must be shared under the same license.
			-> https://creativecommons.org/licenses/by-sa/4.0/
*/


@import "_crosshair.scss";
@import "_damageindicator.scss";
@import "_hitindicator.scss";
@import "_inventory.scss";
@import "_killfeed.scss";
@import "_pickupfeed.scss";
@import "_scoreboard.scss";
@import "_actionmenu.scss";
@import "_zombovision.scss";

rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;
	transform-origin: 50% 50%;

	&.spawnmenuopen
	{
		transition: background-color 0.3s ease-out;
		background-color: rgba( #333, 0.9 );
	}

	&.devcamera
	{
		display: none;
	}
}

vitals
{
	position: absolute;
	bottom: 64px;
	left: 100px;
	font-size: 64px;
	color: #ff0;
	mix-blend-mode: lighten;
	font-family: Roboto;

	label
	{
		text-shadow: 0px 0px 20px #f70a;

		&.danger
		{
			color: #f00;
			text-shadow: 0px 0px 10px #f005;
		}

		&.team
		{
			left : 80px;
			color: rgb(156, 255, 64);
			font-size: 60px;
		}
		
		&.teamzombie
		{
			left : 80px;
			color: rgb(255, 64, 64);
			font-size: 60px;
		}
	}
}

timerui
{
	position: absolute;
	color: #ff0;
	mix-blend-mode: lighten;
	font-family: Roboto;

	Label
	{

		text-shadow: 0px 0px 20px #f70a;
		
		&.timer
		{
			top: 20px;
			left: 900px;
			color: rgb(156, 255, 64);
			font-size: 30px;
		}
	}
}

whowinui
{
	position: absolute;
	color: #ff0;
	mix-blend-mode: lighten;
	font-family: Roboto;

	Label
	{

		text-shadow: 0px 0px 20px #f70a;

		&.winwho
		{
			top: 500px;
			left: 730px;
			color: rgb(156, 255, 64);
			font-size: 100px;
		}

		&.winwhoz
		{
			top: 500px;
			left: 730px;
			color: rgb(156, 255, 64);
			font-size: 100px;
		}
	}
}



ammo
{
	position: absolute;
	bottom: 64px;
	right: 100px;
	font-size: 64px;
	color: #ff0;
	mix-blend-mode: lighten;
	font-family: Roboto;
	
	opacity: 1;

	&.desactivateammo
	{
		opacity: 0;
	}

	label
	{
		text-shadow: 0px 0px 20px #f70a;

		&.danger
		{
			color: #f00;
		}
	}
}


.zp_usp .icon
{
	background-image: url( /ui/weapons/zp_usp.png );
}

.zp_ppk .icon
{
	background-image: url( /ui/weapons/zp_ppk.png );
}

.zp_revolver .icon
{
	background-image: url( /ui/weapons/zp_revolver.png );
}

.zp_glock17 .icon
{
	background-image: url( /ui/weapons/zp_glock17.png );
}

.zp_glock18 .icon
{
	background-image: url( /ui/weapons/zp_glock18.png );
}



.dm_pistol .icon
{
	background-image: url( /ui/weapons/dm_pistol.png );
}

.dm_shotgun .icon
{
	background-image: url( /ui/weapons/dm_shotgun.png );
}




.zp_winchester .icon
{
	background-image: url( /ui/weapons/zp_winchester.png );
}

.zp_supershorty .icon
{
	background-image: url( /ui/weapons/zp_supershorty.png );
}

.zp_remingston .icon
{
	background-image: url( /ui/weapons/zp_remingston.png );
}




.zp_mp5 .icon
{
	background-image: url( /ui/weapons/zp_mp5.png );
}

.zp_m4 .icon
{
	background-image: url( /ui/weapons/zp_m4.png );
}

.zp_ak47 .icon
{
	background-image: url( /ui/weapons/zp_ak47.png );
}

.dm_smg .icon
{
	background-image: url( /ui/weapons/dm_smg.png );
}



.dm_crossbow .icon, .crossbow_bolt .icon
{
	background-image: url( /ui/weapons/dm_crossbow.png );
}



.zp_axe .icon
{
	background-image: url( /ui/weapons/zp_axe.png );
}

.zp_baseballbatwood .icon
{
	background-image: url( /ui/weapons/zp_batwood.png );
}

.zp_baseballbatmetal .icon
{
	background-image: url( /ui/weapons/zp_bataluminum.png );
}

.zp_metalchair .icon
{
	background-image: url( /ui/weapons/zp_chair.png );
}

.zp_cookingpot .icon
{
	background-image: url( /ui/weapons/zp_pot.png );
}

.zp_crowbar .icon
{
	background-image: url( /ui/weapons/zp_crowbar.png );
}

.zp_fryingpan .icon
{
	background-image: url( /ui/weapons/zp_fryingpan.png );
}

.zp_golfclub .icon
{
	background-image: url( /ui/weapons/zp_golf.png );
}

.zp_keyboard .icon
{
	background-image: url( /ui/weapons/zp_keyboard.png );
}

.zp_pipe .icon
{
	background-image: url( /ui/weapons/zp_pipe.png );
}

.zp_pipewrench .icon
{
	background-image: url( /ui/weapons/zp_pipewrench.png );
}

.zp_machete .icon
{
	background-image: url( /ui/weapons/zp_machete.png );
}

.zp_shovel .icon
{
	background-image: url( /ui/weapons/zp_shovel.png );
}

.zp_wrench .icon
{
	background-image: url( /ui/weapons/zp_wrench.png );
}

.zp_plank .icon
{
	background-image: url( /ui/weapons/zp_plank.png );
}